{% extends "../base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/stores.css' %}" />
{% endblock style %}

{% block script %}
<script>
  const markerImageSrc = "{% static 'img/stores.png' %}";
</script>
<!-- 카카오맵 SDK -->
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=99fb650695dceb9f3c38f165656fe2c8&libraries=services"></script>

<script src="{% static 'js/stores/stores_seller.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="big_hugger">
    <div class="container">
      <!-- 지도 영역 -->
      <div id="map">
        <div class="search_box">
            <img src="{% static 'img/map_deco.png' %}" alt="지도 검색창 위 데코" class="map_deco">
            <div class="searching_">
                <input type="text" id="searchInput" placeholder="입력하시오..."/>
                <button id="searchBtn">
                    <img src="{% static 'img/search.png' %}" alt="검색 아이콘">
                </button>
            </div>
        </div>
        <div id="errorMessage"></div>
      </div>
    
      <!-- 아래에서 올라오는 바텀시트 -->
      <div id="bottomSheet" class="bottom_sheet hidden">
        <div class="sheet_content_v2">
          <div class="per_stores_s">
            <div class="modal_info_box">
              <img src="{% static 'img/dummy_egg.png' %}" alt="상품 이미지" class="modal_product_img">
              <div class="detail_info">
                <p class="store_name"><b>4.19민주역 달걀 할머니</b></p>
                <p class="product_detail">음식: 계란 10개 3,000원</p>
                <p class="product_detail">시간: 오전 10시 ~ 12시</p>
                <p class="product_detail">위치: 4.19민주역 1번출구</p>
              </div>
            </div>
        
          </div>
          <div class="many_items_store">
            <div class="many_items_store_name">4.19 민주역 달걀 할머니</div>
            <div class="per_stores">
                <div class="modal_info_box">
                    <img src="{% static 'img/dummy_egg.png' %}" alt="상품 이미지" class="modal_product_img">
                    <div class="detail_info">
                        <p class="store_name"><b>4.19민주역 달걀 할머니</b></p>
                        <p class="product_detail">음식: 계란 10개 3,000원</p>
                        <p class="product_detail">시간: 오전 10시 ~ 12시</p>
                        <p class="product_detail">위치: 4.19민주역 1번출구</p>
                    </div>
                </div>
            </div>


            <div class="per_stores">
                <div class="modal_info_box">
                    <img src="{% static 'img/dummy_egg.png' %}" alt="상품 이미지" class="modal_product_img">
                    <div class="detail_info">
                        <p class="store_name"><b>4.19민주역 달걀 할머니</b></p>
                        <p class="product_detail">음식: 계란 10개 3,000원</p>
                        <p class="product_detail">시간: 오전 10시 ~ 12시</p>
                        <p class="product_detail">위치: 4.19민주역 1번출구</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </div>
      
    </div>
    
    <div class="nav_box">
        <div class="bottom_nav">
          <img src="{% static 'img/now_page.png' %}" alt="현재 페이지" class="now_page">
          <div class="btn selected_nav"><a href="/storesseller"> <!-- selected_nav 클래스를 옮기면서 사용하시면 됩니다 -->
            <img src="{% static 'img/map_page_black.png' %}" alt="지도페이지" class="map_page">
            <!--
            <img src="{% static 'img/map_page_gray.png' %}" alt="지도페이지" class="map_page">
            -->
          </a></div>
          <div class="btn"><a href="/sellerhomepage">
            <img src="{% static 'img/home_page_gray.png' %}" alt="지도페이지" class="home_page">
            <!--
            <img src="{% static 'img/home_page_black.png' %}" alt="지도페이지" class="home_page">
            -->
          </a></div>
          <div class="btn"><a href="/reservationsseller">
            <span class="shopping_page">예약</span>
          </a></div>
        </nav>
      </div>
  </div>

{% endblock body %}
