{% extends "../base.html" %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  href="{% static 'css/consumer_home/consumer_profile.css' %}"
/>

{% endblock style %} {% block script %}
<script src="{% static 'js/consumer_home/consumer_profile.js' %}"></script>
{% endblock script %} {% block body %}
<div class="big_hugger">
  <!-- 상단 프로필 영역 -->
  <div class="profile-section">
    <div class="logo">
      <img src="{% static 'img/background.png' %}" alt="" />
      <img src="{% static 'img/background2.png' %}" alt="" />
    </div>
    <div class="welcome-box">
      <div class="backgroundimg">
        <img src="{% static 'img/Rounded rectangle.svg' %}" alt="" />
      </div>
      <div class="profile-info">
        <!-- <img src="/" alt="프로필 이미지" class="profile-img"> -->
        <div class="profile-text">
          <div class="textbox">
            <span class="nickname-highlight"
              ><span class="nickname"> 바그바그</span></span
            >
            <span class="welcome-text">님 반가워요!</span>
            <img src="{% static 'img/emo1.png' %}" alt="" />
          </div>

          <div class="textbox1">
            <div class="firstmsg">
              오늘 뭐 먹을까?
              <img src="{% static 'img/emo2.png' %}" alt="" class="pic" />
            </div>
            <div class="desc-text">
              근처 <span class="green_small">노점</span>에서
              <span class="green_small">신선하게</span> 장봐봐요!
            </div>
            <div class="lastmsg">
              <span class="desc-text"
                >지금 내 근처, 장보는 가장 따뜻한 방법 "</span
              ><span class="farmfarm">팜팜</span>"
              <img src="{% static 'img/emo3.png' %}" alt="" class="pic" />
            </div>
          </div>
        </div>
      </div>
      <div class="profile-box">
        <img src="{% static 'img/Union.png' %}" alt="" class="profile_hugger" />
        <div class="profile-edit">
          <img
            id="profileImage"
            src="{% static 'img/dummy_egg.png' %}"
            alt="프로필"
          />
        </div>
        <div class="level-box">
          <p class="nickname">
            바그바그
            <img
              id="editProfileBtn"
              src="{% static 'img/edit.png' %}"
              alt="수정"
              style="cursor: pointer"
            />
          </p>
          <p class="level">
            LV.3
            <img src="{% static 'img/level.png' %}" alt="" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- 모달 -->
  <div class="modal-overlay" id="editModal">
    <div class="modal-content">
      <div class="modal-actions">
        <button id="closeModalBtn">×</button>
      </div>
      <div class="nickname-row">
        <input type="text" id="nicknameInput" value="바그바그" />
        <img
          class="nickname-edit-btn"
          src="{% static 'img/edit.png' %}"
          alt="닉네임 수정"
        />
      </div>

      <div class="image-row">
        <div class="image-preview">
          <img
            src="{% static 'img/dummy_egg.png' %}"
            alt="프로필 미리보기"
            class="preview_img"
          />
          <img
            class="image-edit-btn"
            src="{% static 'img/edit.png' %}"
            alt="이미지 수정"
          />
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}
</div>
