.section-title {
    height: 28px !important;
}

.gapsection {
    margin-bottom: 28px !important;
}

.register_btn {
    font-size: 15px !important;
    bottom: 16px !important;
}

.keyword-option{
    height: 20px !important;
}