body {
  margin: 0;
  background-color: transparent;
}

.big_hugger {
  margin: 0 auto;
  max-width: 402px;
  min-height: 100vh;
  overflow-y: auto;
  
  
}
.top-section{
    background: #000;
    height: 205.964px;
    border-bottom: 3px solid #C1FF52;
}
.bottom-section{
    background:#fff;
}
.character-home{
    width: 100%;
}
.cha_exit{
    margin-left: 10px;
}
.cha_gra{
    margin-left: 30px;
}


  /* 예약 카드 */
  .reservation-card {
  background: linear-gradient(#d6ffc4, #b0ff8f);
  border-radius: 16px;
  overflow: hidden;
  width: 365px;
  height: 281.6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border: 1px solid #C1FF52;
  display: flex;
  flex-direction: column;
  padding:1px 0;
  align-items: center;
  }
  
  .reservation_zone{
  display:flex;
  flex-direction:column;
  position:absolute;
  top:350px;
  }

  .product-img-wrap {
  position: relative;
  width: 331px;
  
  }
  
  .product-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius:17px;
  margin-top:5px;
  }
  
  .profile-circle {
  position: absolute;
  bottom: -30px;
  right: 20px;
  width: 107.6px;
  height: 107.6px;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background: white;
  z-index:10;
  }
  
  .profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .profile-hugger-circle{
  position: absolute;
  bottom: -40px;
  right: 9.55px;
  width: 129.5px;
  height:129.5px;
  border: 2px solid black;
  border-radius:50%;
  background-color: #C1FF52;
  opacity:0.5;
  }

  .product-info {
  margin-top: -40px; /* 프로필 겹치는 공간 확보 */
  text-align: left;
  font-size: 13px;
  font-weight:700;
  color:black;
  width:291px;
  height:102.6px;
  border: 0.7px solid #828282;
  border-radius:16px;
  padding:40px 20px 0 20px;
  background-color:rgba(255, 255, 255, 0.8);
  }
  
  .product-info p{
  margin:0;
  }

  .highlight-text{
  font-size:16px;
  font-weight:700;
  color:#669F00;
  }
  
  .button-group {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 10;
  margin-bottom:15px;
  }
  

  .accept-btn, .reject-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 27px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  width:152.8px;
  height:52px;
  background: black;
  border: 1px solid #C1FF52;
  color: #C1FF52;
  }
  
  .accept-btn:hover, .reject-btn:hover {
  background: #C1FF52;
  color: black;
  }
  
  

.completed{
  background: #C1FF52;
  color:black;
  width:320px;
  cursor: default;
}



/* 모달 */
.modal_title{
  width:97px;
  line-height:39px;
  border: 1px solid black;
  border-radius:27px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#C1FF52;
  font-size: 17px;
  font-weight:800;
  color:black;
}

.modal {
  display: none; /* 숨김 상태 */
  position: absolute;
  top: 90px;
  left: 45px;
  width: 277px;
  height: 329px;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content0 {
  display:flex;
  background:rgba(26, 26, 26, 0.09);
  padding: 20px;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
  
  border: 1px solid white; 
  box-shadow:
  24px 24px 24px rgba(42, 42, 42, 0.3),
  18px 18px 18px rgba(109, 109, 109, 0.12),
  inset 0 0 8px rgba(255, 255, 255, 0.35);
  transform: translateY(8px) scale(.98);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.reason-btn {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 187px;
  line-height:16.5px;
  padding: 8px;
  border-radius: 20px;
  margin: 5px 0;
  border: none;
  background: black;
  color: #C1FF52;
  border: 1px solid #C1FF52;
  cursor: pointer;
  font-weight:700;
  font-size:14px;
}

.reason-btn:hover,.reason-btn.selected {
  background: #C1FF52;
  color: black;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.confirm-btn{
  width:66px;
  line-height:39px;
  border: 1px solid black;
  border-radius:27px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#C1FF52;
  font-size: 17px;
  font-weight:800;
}
.close-btn {
  border:none;
  background:none;
  position:absolute;
  color:white;
  top:10px;
  right:5px;
  font-size:40px;
  cursor: pointer;
}
.per_res:last-child{
  margin-bottom:84px;
}


.profile-section{
  position:absolute;
  padding-bottom:7px;
  border-bottom:4px solid #C1FF52;
  top:0;
}
.textbox0{
  position:absolute;
  top:10px;
  left:30px;
  z-index:2;
}
.textbox0 img{
  position:absolute;
  top:-7px;
}

.textbox1{
  width:215px;
  position:absolute;
  bottom:0;
}
.green_highlight{
  color:#C1FF52;
  margin-right:-3px;
}
.bigger_green_highlight{
  color:#C1FF52;
  margin-right:-3px;
  font-size: 15.3px;;
}
.smaller-text{
  font-size: 10.3px;
  font-weight:700;
}

.modal-overlay{
  position:absolute;
}
.modal-content{
  top:177px;
}