{% extends "../base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_base.css' %}" />
{% endblock style %}

{% block script %}
{% endblock script %}

{% block body %}
<div class="big_hugger">

    <div class="container">
        <div class="progress_bar">
            <div class="now_step" style="width: 90px;"></div>
        </div>
        <img src="{% static 'img/dummy_logo_img.png' %}" alt="더미 로고 이미지" class="big_logo"/>
        <div class="content">
            <p class="bigger_content">사업자 등록 여부</p>
            <div class="buttons">
                <button type="button" value="사업자 등록 O" onclick="location.href='selleronboarding2'" class="button_">네</button>
                <button type="button" value="사업자 등록 X" onclick="location.href='selleronboarding4'" class="button_">아니오</button>
            </div>
        </div>
    </div>

<!--
    <nav class="bottom_nav">
      <div class="circle_btn selected_nav"><a href="#">지도</a></div>
      <div class="circle_btn"><a href="#">홈</a></div>
      <div class="circle_btn"><a href="#">AI</a></div>
    </nav>
-->
</div>
{% endblock body %}
