{% extends "../base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_base.css' %}" />
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_3.css' %}" />

{% endblock style %}
{% block script %}
<script src="{% static 'js/seller_onboardings/seller_onboarding_3.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="big_hugger">

    <div class="container">
        <div class="progress_bar">
            <div class="now_step" style="width: 270px;"></div>
        </div>
        <div class="content">
            <p class="bigger_content">가게 등록</p>
            <div class="register_box">
            </div>
            <div class="button_hugger">
                <button
                type="button" 
                value="가게 정보 등록" 
                class="register_button"
                onclick="location.href='selleronboarding5'"
                >
                    등록하기
                </button>
                <button
                type="button"
                value="음성 인식 버튼"
                class="voice_recognition_btn"
                >
                    <img src="{% static 'img/mic.png' %}" alt="음성 인식 버튼">
                </button>
            </div>
        </div>
        
        <div class="prev_page" onclick="history.back()">
            <img src="{% static 'img/left_back.png' %}" alt="뒤로 가기">
        </div>
    </div>
</div>
{% endblock body %}
