{% extends "../base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_base.css' %}" />
{% endblock style %}

{% block script %}
{% endblock script %}

{% block body %}
<div class="big_hugger">

    <div class="container">
        <div class="prev_page" onclick="history.back()">&lt;</div>
        <img src="{% static 'img/dummy_small_logo_img.png' %}" alt="더미 로고 이미지" class="small_logo"/>
        <div class="progress_bar">
            <div class="now_step" style="width: 180px;"></div>
        </div>
        <div class="content">
            <p class="smaller_content">
                지금바로 가게 등록<br>
                하시겠습니까?
            </p>
            <div class="buttons">
                <button type="button" value="사업자 등록 O" onclick="location.href='selleronboarding3'" class="button_">네</button>
                <button type="button" value="사업자 등록 X" onclick="location.href='selleronboarding4'" class="button_">아니오</button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
