{% extends "../base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_base.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">

{% endblock style %}

{% block script %}
{% endblock script %}

{% block body %}
<div class="big_hugger">

    <div class="container">
        <div class="prev_page" onclick="history.back()">&lt;</div>
        <div class="progress_bar">
            <div class="now_step" style="width: 336px;"></div>
        </div>
        <div class="content">
            <p class="smaller_content">
                🎉<br>
                가게 등록에 성공하였습니다!
            </p>
            <button
            type="button" 
            value="판매자 홈 페이지로" 
            class="goto_hometax"
            onclick="window.location.href=''"
            >
                홈으로
            </button>
        </div>
    </div>
</div>
{% endblock body %}
