{% extends "../base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_base.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">
{% endblock style %}

{% block script %}
{% endblock script %}

{% block body %}
<div class="big_hugger">

    <div class="container">
        <div class="progress_bar">
            <div class="now_step" style="width: 65.5px;"></div>
        </div>
        <div class="content">
            <p class="bigger_content"><span class="green_highlight">사업자등록</span>을 하셨나요?</p>
            <div class="buttons">
                <button type="button" value="사업자 등록 O" onclick="location.href='selleronboarding2'" class="button_">네</button>
                <button type="button" value="사업자 등록 X" onclick="location.href='selleronboarding4'" class="button_">아니요</button>
            </div>
        </div>
    </div>

<!--
    <nav class="bottom_nav">
      <div class="circle_btn selected_nav"><a href="#">지도</a></div>
      <div class="circle_btn"><a href="#">홈</a></div>
      <div class="circle_btn"><a href="#">AI</a></div>
    </nav>
-->
</div>
{% endblock body %}
