{% extends "../base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_3.css' %}" />

{% endblock style %}
{% block script %}
<script src="{% static 'js/seller_onboardings/seller_onboarding_3.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="big_hugger">
    <div class="container">
        <div class="progress_bar">
            <div class="now_step" style="width: 270px;"></div>
        </div>
        <div class="content">
            <p class="bigger_content">
                <div class="textboxarea">
                    <img src="{% static 'img/textbox/side_vertical_text_box.png' %}" alt="말풍선" class="brocoli_says">
                    <img src="{% static 'img/voice_brocoli.png' %}" alt="브로콜리" class="brocoli">
                    <div class="text">음성녹음 <span style="color:grey;">등록이 가능해요!</span></div>
                </div>
                <span class="title">가게 등록</span>
            </p>
            <div class="register_box">
            <div class="scrollable_container">
                <form class="form_fields">
                    <!-- 1. 가게 이름 -->
                    <div class="form_row">
                        <label for="field1">1. 가게 이름</label>
                        <input type="text" id="field1" name="field1" placeholder="입력하시오..." />
                    </div>

                    <!-- 2. 사업자 등록번호 -->
                    <div class="form_row">
                        <label for="field2">2. 사업자 등록번호</label>
                        <input type="text" id="field2" name="field2" placeholder="입력하시오..." />
                    </div>

                    <!-- 3. 판매 품목 -->
                    <div class="form_row">
                        <label for="field3">3. 판매 품목</label>
                        <input type="text" id="field3" name="field3" placeholder="입력하시오..." />
                    </div>

                    <!-- 4. 가게 정보 (선택) -->
                    <div class="form_row">
                        <label for="field4">4. 가게 정보 (선택)</label>
                        <input type="text" id="field4" name="field4" placeholder="입력하시오..." />
                    </div>

                    <!-- 5. 판매 장소 -->
                    <div class="form_row">
                        <label for="field5">5. 판매 장소</label>
                        <input type="text" id="field5" name="field5" placeholder="입력하시오..." />
                    </div>

                    <!-- 6. 판매 요일/시간대 -->
                    <div class="form_row">
                        <label for="field6">6. 판매 요일/시간대</label>
                        <input type="text" id="field6" name="field6" placeholder="입력하시오..." />
                    </div>

                    <!-- 7. 결제 수단 -->
                    <div class="form_row">
                        <label for="field7">7. 결제 수단</label>
                        <input type="text" id="field7" name="field7" placeholder="입력하시오..." />
                    </div>

                    <!-- 8. 판매자 연락 수단 (선택) -->
                    <div class="form_row">
                        <label for="field8">8. 판매자 연락 수단 (선택)</label>
                        <input type="text" id="field8" name="field8" placeholder="입력하시오..." />
                    </div>

                    <!-- 9. 가게 사진 업로드 (선택) -->
                    <div class="form_row">
                        <label for="field9">9. 가게 사진 업로드 (선택)</label>
                        <div class="file_upload">
                            <input type="file" id="field9" name="store_photo" accept="image/*" style="display: none;">
                            <label for="field9">
                                <img src="{% static 'img/add_photo.png' %}" alt="upload" class="upload_icon" />
                            </label>
                        </div>
                    </div>

                    <!-- 10. 특이사항 또는 판매 메시지 (선택) -->
                    <div class="form_row">
                        <label for="field10">10. 특이사항 또는 판매 메시지 (선택)</label>
                        <input type="text" id="field10" name="field10" placeholder="입력하시오..." />
                    </div>
                </form>
            </div>
        </div> 
        <div class="button_hugger">
            <button
            type="button" 
            value="가게 정보 등록" 
            class="register_button"
            onclick="location.href='selleronboarding5'"
            >
                등록하기
            </button>
            <button
            type="button"
            value="음성 인식 버튼"
            class="voice_recognition_btn"
            >
                <img src="{% static 'img/mic.png' %}" alt="음성 인식 버튼">
            </button>
        </div>
        <div class="prev_page" onclick="history.back()">
            <img src="{% static 'img/left_back.png' %}" alt="뒤로 가기">
        </div>
    </div>
</div>

<!-- 음성 인식 모달 -->
<div class="voice_modal hidden">
    <div class="voice_modal_overlay"></div>
    <div class="voice_modal_content">
        <button class="voice_modal_close">✕</button>
        <div class="text_box_area">
        <img src="{% static 'img/textbox/vertical_text_box.png' %}" alt="말풍선" class="voice_modal_ann">
        <div class="ann_text">버튼을 누르고, 말하세요!</div>
        </div>
        <div class="voice_recognizing_btn">
        <img src="{% static 'img/mic_neon.png' %}" alt="음성 인식 버튼" class="voice_modal_mic">
        </div>
    </div>
</div>

{% endblock body %}
