{% extends "./base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/example.css' %}" />

{% endblock style %}

{% block script %}
{% endblock script %}

{% block body %}
<div class="big_hugger">

    <div class="container">
      <p style="color:white;">내용내용</p>
    </div>

    <div class="nav_box">
      <nav class="bottom_nav">
        <img src="{% static 'img/now_page.png' %}" alt="현재 페이지" class="now_page">
        <div class="btn selected_nav"><a href="#"> <!-- selected_nav 클래스를 옮기면서 사용하시면 됩니다 -->
          <img src="{% static 'img/map_page_black.png' %}" alt="지도페이지" class="map_page">
          <!--
          <img src="{% static 'img/map_page_gray.png' %}" alt="지도페이지" class="map_page">
          -->
        </a></div>
        <div class="btn"><a href="#">
          <img src="{% static 'img/home_page_gray.png' %}" alt="지도페이지" class="home_page">
          <!--
          <img src="{% static 'img/home_page_black.png' %}" alt="지도페이지" class="home_page">
          -->
        </a></div>
        <div class="btn"><a href="#">
          <span class="shopping_page">AI</span>
        </a></div>
        </div>
      </nav>
    </div>
    
</div>
{% endblock body %}
