{% extends "./base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/reservations.css' %}" />
{% endblock style %}

{% block script %}
<script src="{% static 'js/reservations.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="big_hugger">

    <div class="container">
      <div class="customer_reserv">
        <div class="reserv_img">
            <img src="{% static 'img/dummy_logo_img.png' %}"/>
        </div>
        <div class="reserv_details">
            <p>개수 : 1</p>
            <p>시간 : 2025/08/02 PM 9:40</p>
            <p>가격 : 4,000</p>
        </div>
      </div>
      <div class="buttons">
          <button type="button" value="수락" id="accept">수락</button>
          <button type="button" value="거절" id="refuse">거절</button>
          <!-- 모달 영역 -->
          <div id="refuseModal" class="modal hidden">
            <ul>
                <li><button class="reason_btn" data-reason="재고 소진">재고 소진</button></li>
                <li><button class="reason_btn" data-reason="마감 시간 임박">마감 시간 임박</button></li>
                <li><button class="reason_btn" data-reason="금일 영업 종료">금일 영업 종료</button></li>
            </ul>
          </div>
        </div>
    </div>

    <nav class="bottom_nav">
      <div class="circle_btn"><a href="#">지도</a></div>
      <div class="circle_btn"><a href="#">홈</a></div>
      <div class="circle_btn selected_nav"><a href="#">예약</a></div>
    </nav>
    
</div>
{% endblock body %}
