{% extends "./base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_home_page.css' %}" />
<link rel="stylesheet" href="{% static 'css/consumer_home/consumer_profile.css' %}" />
{% endblock style %}

{% block script %}
<script src="{% static 'js/seller_home_page.js' %}"></script>
<script src="{% static 'js/consumer_home/consumer_profile.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="big_hugger">
  <div class="container onboarding">

    <!-- 인사 섹션 -->
     <!-- 상단 프로필 영역 -->
  <div class="profile-section">
    <div class="logo">
      <img src="{% static 'img/background.png' %}" alt="" />
      <img src="{% static 'img/background2.png' %}" alt="" />
    </div>
    <div class="welcome-box">
      <div class="backgroundimg">
        <img src="{% static 'img/Rounded rectangle.svg' %}" alt="" />
      </div>
      <div class="profile-info">
        <!-- <img src="/" alt="프로필 이미지" class="profile-img"> -->
        <div class="profile-text">
          <div class="textbox0">
            <span class="nickname-highlight"
              ><span class="nickname"> 김말선</span
            ></span>
            <span class="welcome-text">
              님 반가워요!
              <img src="{% static 'img/emo1.png' %}" alt="" class="boom"/>
            </span>
          </div>

          <div class="textbox1">
            <div class="firstmsg">
              오늘 뭐 먹을까? <img src="{% static 'img/emo2.png' %}" alt="" class="pic"/>
            </div>
            <div class="desc-text">
              근처 <span class="green_small">노점</span>에서
              <span class="green_small">신선하게</span> 장봐봐요!
            </div>
            <div class="lastmsg">
              <span class="desc-text"
                >지금 내 근처, 장보는 가장 따뜻한 방법 "</span
              ><span class="farmfarm">팜팜</span>"
              <img src="{% static 'img/emo3.png' %}" alt=""  class="pic"/>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-box">
        <img src="{% static 'img/Union.png' %}" alt="" class="profile_hugger"/>
        <div class="profile-edit">
          <img
            id="profileImage"
            src="{% static 'img/dummy_egg.png' %}"
            alt="프로필"
          />
        </div>
        <div class="level-box">
          <p class="nickname">
            김말선
            <img
              id="editProfileBtn"
              src="{% static 'img/edit.png' %}"
              alt="수정"
              style="cursor: pointer"
            />
          </p>
          <p class="level">
            LV.3
            <img src="{% static 'img/level.png' %}" alt="" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- 모달 -->
  <div class="modal-overlay" id="editModal">
    <div class="modal-content">
      
      <div class="modal-actions">
        <button id="closeModalBtn">×</button>
      </div>
      <div class="nickname-row">
        <input type="text" id="nicknameInput" value="김말선" />
        <img class="nickname-edit-btn" src="{% static 'img/edit.png' %}" alt="닉네임 수정">
      </div>

      <div class="image-row">
        <div class="image-preview">
          <img src="{% static 'img/dummy_egg.png' %}" alt="프로필 미리보기" class="preview_img">
          <img class="image-edit-btn" src="{% static 'img/edit.png' %}" alt="이미지 수정">
        </div>
      </div>

    </div>
  </div>

    <div class="line_"></div>

    <!-- 가게 정보 섹션 -->
    <div class="res_section">
      <div class="information_">
        가게정보
        <img src="{% static 'img/reservation_icon.png' %}" alt="예약확인 아이콘" class="res_check" />
      </div>
    </div>

    <div class="decoration_right">
      <img src="{% static 'img/home_side_deco.png' %}" alt="장식" class="side_deco" />
    </div>

    <!-- 정보 카드 영역 -->
    <div class="information_zone">
      <div class="per_res">
        <div class="information-card">
          <div class="information_hugger">
            <div class="product-img-wrap">
              <img src="{% static 'img/dummy_egg.png' %}" alt="상품 이미지" class="product-img">
              <input type="file" id="change_photo_input" accept="image/*" style="display:none" /> 
              <button type="button" value="이미지 변경" class="change_photo_btn">
                <img src="{% static 'img/add_photo.png' %}" alt="이미지 변경" class="change_photo">
              </button>
            </div>

            <div class="product-info">
              <ul>
                <li>판매자: 창동시장 달걀 할머니 (김말선)</li>
                <li>위치: 덕성여대 후문 옆</li>
                <li>판매 시간: 매일 오전 10시 ~ 12시</li>
                <li>가격: 5알 1000원</li>
              </ul>
            </div>
          </div>

          <div class="recog">
            <div class="text_box_hugger">
              <img src="{% static 'img/textbox/wide_text_box.png' %}" alt="말풍선" class="textbox">
              <div class="texts">
                음성녹음<span style="color:grey;">으로</span><br>
                오늘 판매 물건<span style="color:grey;">을</span> <span style="color:grey;">수정</span>하세요! 
              </div>
              <button type="button" value="음성인식" class="voice_recognization_btn">
                <img src="{% static 'img/mic.png' %}" alt="마이크" class="mic">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 리뷰 섹션 -->
    <div class="review_section">
      <div class="information_">
        받은 리뷰
        <img src="{% static 'img/ribbon.png' %}" alt="리본" class="res_check" />
      </div>
    </div>

    <div class="review_hugger">
      <img src="{% static 'img/review_deco.png' %}" alt="리뷰데코" class="review_deco" />

      <div class="per_review">
        <div class="reviewer_profile">
          <img src="{% static 'img/dummy_egg.png' %}" alt="더미프로필" class="r_profile_p" />
        </div>
        <div class="stars">
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore.png' %}" alt="별점" class="per_star" />
        </div>
        <div class="review_content">
          여기 집 너무 신선해서 좋아요!! ^^ 저희 아이들도 잘 먹네요~
        </div>
        <div class="date">
          2025.01.06
        </div>
      </div>

      <div class="per_review">
        <div class="reviewer_profile">
          <img src="{% static 'img/dummy_egg.png' %}" alt="더미프로필" class="r_profile_p" />
        </div>
        <div class="stars">
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore_filled.png' %}" alt="별점" class="per_star" />
          <img src="{% static 'img/starscore.png' %}" alt="별점" class="per_star" />
        </div>
        <div class="review_content">
          여기 집 너무 신선해서 좋아요!! ^^ 저희 아이들도 잘 먹네요~
        </div>
        <div class="date">
          2025.01.06
        </div>
      </div>

    </div> <!-- review_hugger 끝 -->

  </div> <!-- container 끝 -->

  <!-- 네비게이션 바 -->
  <div class="nav_box">
    <nav class="bottom_nav">
      <img src="{% static 'img/now_page_neon.png' %}" alt="현재 페이지" class="now_page">
      <div class="btn">
        <a href="/storesseller">
          <img src="{% static 'img/map_page_gray.png' %}" alt="지도페이지" class="map_page">
        </a>
      </div>
      <div class="btn selected_nav">
        <a href="/sellerhomepage">
          <img src="{% static 'img/home_page_black.png' %}" alt="홈페이지" class="home_page">
        </a>
      </div>
      <div class="btn">
        <a href="/reservationsseller">
          <span class="shopping_page">예약</span>
        </a>
      </div>
    </nav>
  </div>

</div> <!-- big_hugger 끝 -->

<!-- 음성 인식 모달 -->
<div class="voice_modal hidden">
  <div class="voice_modal_overlay"></div>
  <div class="voice_modal_content">
    <button class="voice_modal_close">✕</button>
    <div class="text_box_area">
      <img src="{% static 'img/textbox/vertical_text_box.png' %}" alt="말풍선" class="voice_modal_ann">
      <div class="ann_text">버튼을 누르고, 말하세요!</div>
    </div>
    <div class="voice_recognizing_btn">
      <img src="{% static 'img/mic_neon.png' %}" alt="음성 인식 버튼" class="voice_modal_mic">
    </div>
  </div>
</div>
{% endblock body %}
