{% extends "./base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/consumer_home/consumer_profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/shopping_page.css' %}" />
{% endblock style %}

{% block script %}
<script>
  const markerImageSrc = "{% static 'img/stores.png' %}";
</script>
<!-- 카카오맵 SDK -->
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=99fb650695dceb9f3c38f165656fe2c8&libraries=services"></script>
<script src="{% static 'js/shopping_page.js' %}"></script>
<script src="{% static 'js/consumer_home/consumer_profile.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="big_hugger">
  <div class="container onboarding">

    <!-- 인사 섹션 -->
    <!-- 상단 프로필 영역 -->
  <div class="profile-section">
    <div class="logo">
      <img src="{% static 'img/background.png' %}" alt="" />
      <img src="{% static 'img/background2.png' %}" alt="" />
    </div>
    <div class="welcome-box">
      <div class="backgroundimg">
        <img src="{% static 'img/Rounded rectangle.svg' %}" alt="" />
      </div>
      <div class="profile-info">
        <!-- <img src="/" alt="프로필 이미지" class="profile-img"> -->
        <div class="profile-text">
          <div class="textbox0">
            <span class="nickname-highlight"
              ><span class="nickname"> 바그바그</span
            ></span>
            <span class="welcome-text">님 반가워요!</span>
            <img src="{% static 'img/emo1.png' %}" alt="" />
          </div>

          <div class="textbox1">
            <div class="whatdoyoueat">
              오늘은 어떤 음식을 드시나요?
            <img src="{% static 'img/silly_face.png' %}" alt="" class="silly_face"/>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-box">
        <img src="{% static 'img/Union.png' %}" alt="" class="profile_hugger"/>
        <div class="profile-edit">
          <img
            id="profileImage"
            src="{% static 'img/dummy_egg.png' %}"
            alt="프로필"
          />
        </div>
        <div class="level-box">
          <p class="nickname">
            바그바그
            <img
              id="editProfileBtn"
              src="{% static 'img/edit.png' %}"
              alt="수정"
              style="cursor: pointer"
            />
          </p>
          <p class="level">
            LV.3
            <img src="{% static 'img/level.png' %}" alt="" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- 모달 -->
  <div class="modal-overlay" id="editModal">
    <div class="modal-content">
      
      <div class="modal-actions">
        <button id="closeModalBtn">×</button>
      </div>
      <div class="nickname-row">
        <input type="text" id="nicknameInput" value="바그바그" />
        <img class="nickname-edit-btn" src="{% static 'img/edit.png' %}" alt="닉네임 수정">
      </div>

      <div class="image-row">
        <div class="image-preview">
          <img src="{% static 'img/dummy_egg.png' %}" alt="프로필 미리보기" class="preview_img">
          <img class="image-edit-btn" src="{% static 'img/edit.png' %}" alt="이미지 수정">
        </div>
      </div>

    </div>
  </div>

    <!-- 첫 화면 브로콜리 -->
    <div class="firstsight">
      <img src="{% static 'img/smiling_brocoli.png' %}" alt="브로콜리" class="brocoli" />
    </div>

    <!-- 검색 박스 -->
    <div class="search_box">
      <div class="searching_">
        <input type="text" id="searchInput" placeholder="입력하시오..."/>
        <button id="searchBtn">
          <img src="{% static 'img/search.png' %}" alt="검색 아이콘">
        </button>
      </div>
      <div class="foods_hugger">
        <div class="example_foods">
          <button type="button" class="per_foods">#비빔밥</button>
          <button type="button" class="per_foods">#샐러드</button>
          <button type="button" class="per_foods">#고등어조림</button>
        </div>
      </div>
    </div>

    <!-- 지도 -->
    <div id="map" style="display:none;">
      <div id="errorMessage"></div>
    </div>

    <!-- 토글 버튼 -->
    <div class="toggle_hugger" style="display:none;">
      <div class="toggle_box" id="toggleBox">
        <div class="toggle_button" id="toggleButton"></div>
      </div>
    </div>

    <!-- 바텀시트 -->
    <div id="bottomSheet" class="bottom_sheet hidden">
      <div class="sheet_content_v2">

        <!-- 단일 스토어 정보 -->
        <div class="per_stores">
          <div class="modal_info_box">
            <img src="{% static 'img/dummy_egg.png' %}" alt="상품 이미지" class="modal_product_img">
            <div class="detail_info">
              <p class="store_name"><b>4.19민주역 달걀 할머니</b></p>
              <p class="product_detail">음식: 계란 10개 3,000원</p>
              <p class="product_detail">시간: 오전 10시 ~ 12시</p>
              <p class="product_detail">위치: 4.19민주역 1번출구</p>
            </div>
          </div>

          <!-- 수량 + 시간 조절 -->
          <div class="reserve_controls">
            <div class="quantity_box">
              <button class="qty_btn minusBtn"><b>-</b></button>
              <span class="quantity">0</span>
              <button class="qty_btn plusBtn"><b>+</b></button>
            </div>
            <div class="time_box">
              <input type="number" class="hourInput" min="0" max="23" placeholder="0" /> 시
              <input type="number" class="minuteInput" min="0" max="59" placeholder="0" /> 분
            </div>
          </div>

          <!-- 예약 버튼 -->
          <div class="resbuttonhugger">
            <button class="reserve_btn">예약하기</button>
          </div>
        </div>

        <!-- 여러 아이템 스토어 -->
        <div class="many_items_store">
          <div class="many_items_store_name">4.19 민주역 달걀 할머니</div>

          <!-- 반복되는 per_stores 요소 -->
          <div class="per_stores">
            <div class="modal_info_box">
              <img src="{% static 'img/dummy_egg.png' %}" alt="상품 이미지" class="modal_product_img">
              <div class="detail_info">
                <p class="store_name"><b>4.19민주역 달걀 할머니</b></p>
                <p class="product_detail">음식: 계란 10개 3,000원</p>
                <p class="product_detail">시간: 오전 10시 ~ 12시</p>
                <p class="product_detail">위치: 4.19민주역 1번출구</p>
              </div>
            </div>
            <div class="reserve_controls">
              <div class="quantity_box">
                <button class="qty_btn minusBtn"><b>-</b></button>
                <span class="quantity">0</span>
                <button class="qty_btn plusBtn"><b>+</b></button>
              </div>
              <div class="time_box">
                <input type="number" class="hourInput" min="0" max="23" placeholder="0" /> 시
                <input type="number" class="minuteInput" min="0" max="59" placeholder="0" /> 분
              </div>
            </div>
            <div class="resbuttonhugger">
              <button class="reserve_btn">예약하기</button>
            </div>
          </div>

          <!-- 동일한 per_stores 반복 -->
          <div class="per_stores">
            <div class="modal_info_box">
              <img src="{% static 'img/dummy_egg.png' %}" alt="상품 이미지" class="modal_product_img">
              <div class="detail_info">
                <p class="store_name"><b>4.19민주역 달걀 할머니</b></p>
                <p class="product_detail">음식: 계란 10개 3,000원</p>
                <p class="product_detail">시간: 오전 10시 ~ 12시</p>
                <p class="product_detail">위치: 4.19민주역 1번출구</p>
              </div>
            </div>
            <div class="reserve_controls">
              <div class="quantity_box">
                <button class="qty_btn minusBtn"><b>-</b></button>
                <span class="quantity">0</span>
                <button class="qty_btn plusBtn"><b>+</b></button>
              </div>
              <div class="time_box">
                <input type="number" class="hourInput" min="0" max="23" placeholder="0" /> 시
                <input type="number" class="minuteInput" min="0" max="59" placeholder="0" /> 분
              </div>
            </div>
            <div class="resbuttonhugger">
              <button class="reserve_btn">예약하기</button>
            </div>
          </div>

        </div> <!-- many_items_store 끝 -->

      </div> <!-- sheet_content_v2 끝 -->
    </div> <!-- bottomSheet 끝 -->

  </div> <!-- container 끝 -->

  <!-- 네비게이션 바 -->
  <div class="nav_box">
    <nav class="bottom_nav">
      <img src="{% static 'img/now_page_neon.png' %}" alt="현재 페이지" class="now_page">
      <div class="btn">
        <a href="/storescustomer">
          <img src="{% static 'img/map_page_gray.png' %}" alt="지도페이지" class="map_page">
        </a>
      </div>
      <div class="btn">
        <a href="#">
          <img src="{% static 'img/home_page_gray.png' %}" alt="홈페이지" class="home_page">
        </a>
      </div>
      <div class="btn selected_nav">
        <a href="/reservationsseller">
          <span class="shopping_page">AI</span>
        </a>
      </div>
    </nav>
  </div>

</div> <!-- big_hugger 끝 -->
{% endblock body %}
