{% extends "./base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/splash.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

{% endblock style %}

{% block script %}
<script src="{% static 'js/splash.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="big_hugger">
    <div class="container">
        <div class="logo-wrapper">
            <img src="{% static 'img/logo_cycle.png' %}" alt="회전 로고" class="cycle" />
            <img src="{% static 'img/logo_leaves.png' %}" alt="최종 로고" class="final-logo" />
        </div>
        <p class="service_name">FarmFarm</p>
    </div>
  </div>
{% endblock body %}
