{% extends "base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seller_onboardings/seller_onboarding_base.css' %}" />

{% endblock style %}

{% block script %}
<script src="{% static 'js/seller_onboardings/seller_onboarding_4.js' %}"></script>
{% endblock script %}

{% block body %}

<!-- seller_onboarding_4.html ✅-->
{% block content %}
<div class="big_hugger">

    <div class="container">
        <div class="content">
            <p class="bigger_content">
                사업자 등록 없이<br>
                가게등록은 <span class="green_highlight">불가능</span>합니다.
            </p>
            <div class="registerornot">
                <button type="button" value="사업자 등록 O" class="btns"
                    onclick="window.location.href='https://hometax.go.kr'">
                    등록 하러 가기
                </button>

                <button type="button" value="사업자 등록 X" id="benefits" class="btns">
                    <img src="{% static 'img/benefit_icon.png' %}" alt="혜택 아이콘" class="benefit_icon">
                    사업자 등록 혜택 보기
                </button>

                <div id="benefitModal" class="modal" aria-hidden="true">
                    <div class="modal-panel">
                        <div class="modal-header">
                            <div class="modal-title">사업자 등록 혜택 키워드</div>
                            <button class="modal-close" aria-label="닫기">&times;</button>
                        </div>

                        <div class="modal-body">
                            <ol>
                                <li><span><span>합법</span>적인 노점 운영</span></li>
                                <li><span><span class="green_text">정부 지원금</span> 대상 포함</span></li>
                                <li><span><span class="green_text">세금 감면</span> 혜택 (간이과세)</span></li>
                                <li><span><span class="green_text">사회보장 가입</span> 가능 (건강보험 등)</span></li>
                                <li><span>소득 증빙 → <span class="green_text">복지 수급 연계</span></span></li>
                                <li><span><span class="green_text">가게 신뢰도 상승</span> (인증 마크 부여)</span></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        
        <div class="prev_page">
            <a href="{% url 'users:seller_step1' %}">
                <img src="{% static 'img/left_back.png' %}" alt="뒤로 가기">
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% endblock body %}
