<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer>
        <hr>
        <a href="{% url 'stores:map' %}">지도</a>
        {% if user.usertype == 'BUYER' %}
            <a href="{% url 'users:buyer_home' %}">홈</a>
            <a href="#">AI</a>
        {% elif user.usertype == 'SELLER' %}
            <a href="{% url 'users:seller_home' %}">홈</a>
            <a href="#">예약관리</a>
        {% endif %}

        <hr>
        <a href="{% url 'users:onboarding' %}">초기 온보딩 화면</a> 
        <!-- 개발용 로그인 상태 정보 표시 -->
        {% if request.user.is_authenticated %}
            <small>
                [ 로그인됨: {{ request.user.username }} ({{ request.user.usertype }}) ]
            </small>
        {% else %}
            <small>
                [ 로그인되지 않음 ]
            </small>
        {% endif %}
    </footer>
</body>
</html>