body {
    background-color: #ccc;
    margin:0;
}
.big_hugger{
    margin: 0 auto;
    max-width: 402px;
    background-color: white;
}
.container {
    min-height: calc(100vh - 35px); /* 35px은 네비게이션 바 높이 */
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.small_logo{
    position:fixed;
    top:10px;
    margin-left:300px;
    width:100px;
}
.side{
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side:hover{
    background-color: #eee;
}
.dumicon{
    font-size: 60px;
    margin:0;
}