body {
  margin: 0;
}

.big_hugger {
  margin: 0 auto;
  width: 402px;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
}

.final-logo {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 35px;
  left: 40px;
  z-index: 1;
  opacity: 1; /* 항상 보이게 */
  animation: fade 1s ease-in forwards;
}

.cycle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0; /* 시작 시 투명 */
  animation: spin 1s linear forwards, fadeIn 1s ease-in forwards;
}

.service_name {
  color: #C1FF52;
  animation: fade 1s ease-in forwards;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* 회전 애니메이션 */
@keyframes spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* 점점 선명해지기 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

/* 점점 선명해지기 */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
