body {
    background-color: #ccc;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }

  .big_hugger {
    margin: 0 auto;
    max-width: 402px;
    background-color: white;
  }

  .container {
    min-height: calc(100vh - 35px); /* 하단 네비게이션 높이 제외 */
    position: relative; /* 지도+검색창 overlay */
  }

  /* 지도 */
  #map {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 검색창 overlay */
  .search_box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10;
    background-color: black;
    width:100%;
    height:100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.searching_{
    width:334px;
    height:47px;
    border: 1px solid #ccc;
    background-color: white;
    border: 2px solid #C1FF52;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map_deco{
    position:absolute;
    width:329px;
    top:10px;
}
  #searchInput {
    width: 300px;
    padding: 8px 10px;
    font-size: 15px;
    outline: none;
    position: relative;
    background-color: inherit;
    border:none;
    display: flex;
  }

  #searchBtn {
    width:40px;
    margin-left: 6px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top:55px;
    right:35px;
    background-color: inherit;
  }
  #searchBtn img{
    width:18px;
  }

  /* 지도 로딩 실패 안내문 */
  #errorMessage {
    position: absolute;
    top: 50vh;
    width:300px;
    color: #666;
    font-size: 16px;
    text-align: center;
  }

  /* 하단 네비게이션 */

  .bottom_nav {
    position: fixed;
    height: 74px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 402px;
    margin: auto;
    background: #F4F5EF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:7px;
}

.bottom_nav a {
    text-decoration: none;
    color: #888;
    font-size: 14px;
    font-weight: 500;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;      /* 선택되지 않아도 고정된 width/height 지정 */
    height: 50px;
}

.map_page{
    width:16px;
    margin-top:3px;
    margin-bottom:-3px;
}
.home_page{
    width:24px;
    margin-top:3px;
    margin-bottom:-3px;
}
.shopping_page{
    font-size: 20px;
    font-weight: 600;
}
.selected_nav {
    background-color: #C1FF52;
    border: 1px solid black;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.btn, .selected_nav {
    box-sizing: border-box;
}

.selected_nav a{
    color: black;
}
.nav_box{
    position:relative;
}
.now_page{
    width:10.7px;
    position:absolute;
    bottom:65px;
    left:62px;
}
#add_store{
  position:absolute;
  bottom:60px;
  right:20px;
  background-color: #22B14C;
  border:none;
  font-size: 30px;
  border-radius: 50%;
  width:40px;
  height:40px;
}

/* 테스트용 버튼 css, 후에 지워도 됨 */
#test{
  position:absolute;
  bottom:60px;
  left:20px;
  background-color: red;
  border:none;
  font-size: 30px;
  border-radius: 50%;
  width:40px;
  height:40px;
}



.bottom_sheet {
  position: fixed;
  bottom: -300px; /* 숨김 상태 */
  left: 0;
  right: 0;
  max-width: 402px;
  margin: auto;
  background: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  height: 300px;
  transition: bottom 0.3s ease-in-out;
  z-index: 10;
}

.bottom_sheet.hidden {
  bottom: -300px;
}

.bottom_sheet.show {
  bottom: 0; /* 화면 위로 올라옴 */
}

.sheet_content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stores_box{
  width:350px;
  display: flex;
  border: 2px solid #ddd;
}
.store_img img{
  width: 150px;
}
.store_img{
  width:175px;
}
.store_details{
  border-left: 2px solid #ddd;
  padding-left:10px;
  font-size:13px;
  width: 175px;
}
.hash_btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:100px;
}
.hash p{
  width:75px;
  margin:0;
  color:#22B14C;
}
.btn button{
  border:1px solid #ccc;
  width: 90px;
  border-radius: 20px;
  font-size: 15px;
  margin:0 10px;
  cursor: pointer;
}